body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.pricing-plans {
    text-align: center;
    padding: 50px 20px;
}
.price{
    color: #007bff;
}
.pricing-plans h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
}

.plan.highlighted {
    background-color: #ffeb3b;
    font-weight: bolder;
}

.plan-header img {
    width: 60px;
    height: 60px;
}

.plan-header h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.plan .price {
    font-size: 2.5em;
    color: #007bff;
}

.features {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.features li {
    margin: 10px 0;
    color: #0c0d0e;
}
.features li i{
    color: #ffeb3b;
    font-size: 20px;
    font-weight: bolder;
}
.checked li i{
    font-size: 20px;
    font-weight: bolder;
    color: #0056b3;
} 
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .plans {
        flex-wrap: nowrap;
    }
}
